<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input formControlName="email" matInput placeholder="Email" autocomplete="on">
          <mat-error *ngIf="loginForm.get('email').invalid">Email is required</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input formControlName="password" matInput placeholder="Password" type="password" autocomplete="on">
          <mat-error *ngIf="loginForm.get('password').invalid">Password is required</mat-error>
        </mat-form-field>
      </mat-card-content>
      <button [disabled]="loginForm.invalid" type="submit" mat-stroked-button color="primary" class="btn-block">Log in</button>
    </form>
  </mat-card>

</div>
